@model Adikov.ViewModels.Contacts.KeepInTouchViewModel

@{
    ViewBag.Title = "Настройки формы";
}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-pencil font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase"> @ViewBag.Title </span>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("KeepInTouch", "Contacts", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        <div class="form-body">

            <div class="form-group">
                <label class="col-md-3 control-label">Заголовок </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Введите заголовок" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Описание </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Введите текст описания", rows = 5 })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Почта получателя 1 </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Email1, new { @class = "form-control", placeholder = "Введите почту получателя 1" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Почта получателя 2 </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Email2, new { @class = "form-control", placeholder = "Введите почту получателя 2" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Почта получателя 3 </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Email3, new { @class = "form-control", placeholder = "Введите почту получателя 3" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label"> </label>
                <div class="col-md-6">
                    <label class="mt-checkbox">
                        @Html.CheckBoxFor(m => m.IsSendToEmails) Отправлять уведомление на почты
                        <span></span>
                    </label>
                </div>
            </div>

            <br />
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">Сохранить</button>
                        <a class="btn default" href="@Url.Action("Index")">Отмена</a>
                    </div>
                </div>
            </div>
            <br />

        </div>
        }
    </div>
</div>