@model Adikov.ViewModels.Profile.ChangePasswordViewModel

@{
    Layout = "_LayoutProfile.cshtml";
    ViewBag.Title = "Сменить пароль";
}

<div class="portlet light ">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">@ViewBag.Title</span>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label">Старый пароль</label>
                @Html.PasswordFor(m => m.OldPassword, new {placeholder = "Старый пароль", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
            <div class="form-group">
                <label class="control-label">Новый пароль</label>
                @Html.PasswordFor(m => m.NewPassword, new {placeholder = "Новый пароль", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="form-group">
                <label class="control-label">Повтор пароля</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new {placeholder = "Повтор пароля", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <div class="margiv-top-10">
                <input type="submit" class="btn green" value=" Сохранить "/>
                <a href="@Url.Action("Index")" class="btn default"> Отменить </a>
            </div>
        }
    </div>
</div>