@model Adikov.ViewModels.Users.UserEditViewModel

@{
    ViewBag.Title = "Редактирование профиля";
}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-pencil font-blue"></i>
            <span class="caption-subject font-blue bold uppercase"> @ViewBag.Title </span>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("Edit", "User", null, FormMethod.Post, new { id = "user-form", role = "form" }))
        {
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label class="control-label">Имя</label>
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Имя", @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Фамилия</label>
                @Html.TextBoxFor(m => m.LastName, new { placeholder = "Фамилия", @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Номер телефона</label>
                @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Номер телефона", @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Деятельность</label>
                @Html.TextBoxFor(m => m.Occupation, new { placeholder = "Деятельность", @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Интересы</label>
                @Html.TextBoxFor(m => m.Interests, new { placeholder = "Интересы", @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Обо мне</label>
                @Html.TextAreaFor(m => m.About, new { placeholder = "Обо мне", @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Сайт</label>
                @Html.TextBoxFor(m => m.Website, new { placeholder = "Сайт", @class = "form-control" })
            </div>
            <div class="margiv-top-10">
                <input type="submit" class="btn green" value=" Сохранить " />
                <a href="@Url.Action("Index")" class="btn default"> Отменить </a>
            </div>
        }
    </div>
</div>