@using Adikov.Models

@{
    LayoutContext LayoutContext = this.ViewData["LayoutContext"] as LayoutContext ?? new LayoutContext();
}

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>

    <meta charset="utf-8" />
    <title>@ViewBag.Title - ИП Адиков</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link rel="shortcut icon" href="favicon.ico" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/globalCss")
    @RenderSection("plugin_styles", required: false)
    @Styles.Render("~/Content/themeCss")
    @RenderSection("page_styles", required: false)
    @Styles.Render("~/Content/layoutCss")
    @Styles.Render("~/Content/commonCss")
    @RenderSection("styles", required: false)

</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">

    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
    
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
        
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/">
                    <img src="@LayoutContext.LogoUrl" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
        
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->

            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN HEADER SEARCH BOX -->
                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
                <form class="search-form search-form-expanded" action="page_general_search_3.html" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Поиск..." name="query">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit">
                                <i class="icon-magnifier"></i>
                            </a>
                        </span>
                    </div>
                </form>
                <!-- END HEADER SEARCH BOX -->
            
                <!-- BEGIN TOP NAVIGATION MENU -->
                @Html.Partial("_LoginPartial", LayoutContext.User)
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->

    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        @Html.Partial("_Sidebar", LayoutContext.Sidebar)
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                @RenderBody()
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->

    <!--[if lt IE 9]>
        <script src="~/Content/assets/global/plugins/respond.min.js"></script>
        <script src="~/Content/assets/global/plugins/excanvas.min.js"></script>
        <script src="~/Content/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/coreJs")
    @Scripts.Render("~/bundles/themeComponents")
    @Scripts.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)

</body>
</html>