@model Adikov.ViewModels.About.AboutLinksViewModel

<div class="row about-links-cont" data-auto-height="true">
    <div class="col-md-6 about-links">
        <div class="row">
            <div class="col-sm-6 about-links-item">
                <h4>@Model.Group1Title</h4>
                <ul>
                    <li>
                        <a href="@Model.Group1Link1">@Model.Group1Text1</a>
                    </li>
                    <li>
                        <a href="@Model.Group1Link2">@Model.Group1Text2</a>
                    </li>
                    <li>
                        <a href="@Model.Group1Link3">@Model.Group1Text3</a>
                    </li>
                    <li>
                        <a href="@Model.Group1Link4">@Model.Group1Text4</a>
                    </li>
                    <li>
                        <a href="@Model.Group1Link5">@Model.Group1Text5</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 about-links-item">
                <h4>@Model.Group2Title</h4>
                <ul>
                    <li>
                        <a href="@Model.Group2Link1">@Model.Group2Text1</a>
                    </li>
                    <li>
                        <a href="@Model.Group2Link2">@Model.Group2Text2</a>
                    </li>
                    <li>
                        <a href="@Model.Group2Link3">@Model.Group2Text3</a>
                    </li>
                    <li>
                        <a href="@Model.Group2Link4">@Model.Group2Text4</a>
                    </li>
                    <li>
                        <a href="@Model.Group2Link5">@Model.Group2Text5</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 about-links-item">
                <h4>@Model.Group3Title</h4>
                <ul>
                    <li>
                        <a href="@Model.Group3Link1">@Model.Group3Text1</a>
                    </li>
                    <li>
                        <a href="@Model.Group3Link2">@Model.Group3Text2</a>
                    </li>
                    <li>
                        <a href="@Model.Group3Link3">@Model.Group3Text3</a>
                    </li>
                    <li>
                        <a href="@Model.Group3Link4">@Model.Group3Text4</a>
                    </li>
                    <li>
                        <a href="@Model.Group3Link5">@Model.Group3Text5</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 about-links-item">
                <h4>@Model.Group4Title</h4>
                <ul>
                    <li>
                        <a href="@Model.Group4Link1">@Model.Group4Text1</a>
                    </li>
                    <li>
                        <a href="@Model.Group4Link2">@Model.Group4Text2</a>
                    </li>
                    <li>
                        <a href="@Model.Group4Link3">@Model.Group4Text3</a>
                    </li>
                    <li>
                        <a href="@Model.Group4Link4">@Model.Group4Text4</a>
                    </li>
                    <li>
                        <a href="@Model.Group4Link5">@Model.Group4Text5</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 about-links-item">
                <h4>@Model.Group5Title</h4>
                <ul>
                    <li>
                        <a href="@Model.Group5Link1">@Model.Group5Text1</a>
                    </li>
                    <li>
                        <a href="@Model.Group5Link2">@Model.Group5Text2</a>
                    </li>
                    <li>
                        <a href="@Model.Group5Link3">@Model.Group5Text3</a>
                    </li>
                    <li>
                        <a href="@Model.Group5Link4">@Model.Group5Text4</a>
                    </li>
                    <li>
                        <a href="@Model.Group5Link5">@Model.Group5Text5</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 about-links-item">
                <h4>@Model.Group6Title</h4>
                <ul>
                    <li>
                        <a href="@Model.Group6Link1">@Model.Group6Text1</a>
                    </li>
                    <li>
                        <a href="@Model.Group6Link2">@Model.Group6Text2</a>
                    </li>
                    <li>
                        <a href="@Model.Group6Link3">@Model.Group6Text3</a>
                    </li>
                    <li>
                        <a href="@Model.Group6Link4">@Model.Group6Text4</a>
                    </li>
                    <li>
                        <a href="@Model.Group6Link5">@Model.Group6Text5</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="about-image" style="background: url(@Model.ImageUrl) center no-repeat;"></div>
    </div>
</div>