@model Adikov.ViewModels.About.AboutServicesViewModel

<div class="row margin-bottom-20">
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="card-icon">
                <i class="@Model.Icon1 @Model.IconColor1 theme-font"></i>
            </div>
            <div class="card-title">
                <span> @Model.Title1 </span>
            </div>
            <div class="card-desc">
                <span>
                    @Model.Description1
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="card-icon">
                <i class="@Model.Icon2 @Model.IconColor2 theme-font"></i>
            </div>
            <div class="card-title">
                <span> @Model.Title2 </span>
            </div>
            <div class="card-desc">
                <span>
                    @Model.Description2
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="card-icon">
                <i class="@Model.Icon3 @Model.IconColor3 theme-font"></i>
            </div>
            <div class="card-title">
                <span> @Model.Title3 </span>
            </div>
            <div class="card-desc">
                <span>
                    @Model.Description3
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="card-icon">
                <i class="@Model.Icon4 @Model.IconColor4 theme-font"></i>
            </div>
            <div class="card-title">
                <span> @Model.Title4 </span>
            </div>
            <div class="card-desc">
                <span>
                    @Model.Description4
                </span>
            </div>
        </div>
    </div>
</div>