@model IEnumerable<Adikov.ViewModels.Products.ProductViewModel>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th> # </th>
        <th> Название </th>
        <th> Категория </th>
        <th> Таблица </th>
        <th>
            <div class="pull-right"> Действия </div>
        </th>
    </tr>
    </thead>
    <tbody>
    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        i++;

        <tr>
            <td> @i </td>
            <td> @item.Name </td>
            <td>
                @item.Category
                @if (item.IsCategoryDeleted)
                {
                    <span class="label label-sm label-danger">
                        <i class="fa fa-info-circle tooltips" data-container="body" data-placement="top" data-original-title="Данная категория удалена и не будет видно пользователям. Вы можете восстановить данную категорию в настройках категорий."></i>
                        Удалена
                    </span>
                }
            </td>
            <td>
                @Html.ActionLink(item.Table, "Details", "Table", new {id = item.TableId, preview = true}, null)
                @if (item.IsTableDeleted)
                {
                    <span class="label label-sm label-danger">
                        <i class="fa fa-info-circle tooltips" data-container="body" data-placement="top" data-original-title="Данная таблица была удалена. Пользователи не смогут увидеть продукцию, которая использует данную таблицу. Вы можете восстановить данную таблицу в настройках таблиц."></i> 
                        Удалена
                    </span>
                }
            </td>
            <td>
                <div class="pull-right">
                    <a href="@Url.Action("Index", "Row", new { productId = item.Id })" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                        Позиции
                    </a>
                    <a href="@Url.Action("Index", new { id = item.Id })" class="btn btn-sm btn-info">
                        <i class="fa fa-pencil"></i>
                        Редактировать
                    </a>
                    @if (item.IsDeleted)
                    {
                        <a href="@Url.Action("Recovery", new {id = item.Id})" class="btn btn-sm btn-success">
                            <i class="icon-action-undo"></i>
                            Восстановить
                        </a>
                    }
                    else
                    {
                        @LinkHelper.ConfirmationLink("Удалить", Url.Action("Delete", new {id = item.Id}), "btn btn-sm btn-danger", "fa fa-trash-o")
                    }
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>