@model Adikov.ViewModels.Tables.TableDetailsViewModel

<h4>Столбцы:</h4>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th> # </th>
        <th> Название </th>
        <th> Тип </th>
        <th> Статус </th>
        <th width="120"> Сортировка </th>
    </tr>
    </thead>
    <tbody>
    @{
        int i = 0;
    }
    @foreach (var item in Model.Columns)
    {
        i++;

        <tr>
            <td> @i </td>
            <td> @item.Name </td>
            <td> @ColumnHelper.TypeToLabel(item.Type) </td>
            <td> @ColumnHelper.ActiveStatusToLabel(item.IsDeleted) </td>
            <td>
                <a href="@Url.Action("SortUp", "Table", new { tableId = Model.Id, columnId = item.TableColumnId })" class="btn btn-sm btn-outline green-jungle" @(i == 1 ? "disabled" : "")>
                    <i class="fa fa-arrow-up"></i>
                </a>
                <a href="@Url.Action("SortDown", "Table", new { tableId = Model.Id, columnId = item.TableColumnId })" class="btn btn-sm btn-outline green-jungle" @(i == Model.Columns.Count() ? "disabled" : "")>
                    <i class="fa fa-arrow-down"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>